---

---

<div class="h-[835px] bg-main-gray relative px-10 flex justify-center">
    <img
        src="/buble.png"
        class="opacity-60 absolute left-1/2 -translate-x-1/2 top-[50px]"
    />
    <div class="z-10 relative pt-[240px] min-w-[1120px]">
        <div class="flex items-end justify-between">
            <div
                class="uppercase text-white text-[46px] font-medium leading-[120%]"
            >
                CREATOR LAYER-1 BLOCKCHAIN<br />Build fullstack dApps <br />with
                Cytonic AI
            </div>

            <div class="gap-4 flex">
                <button
                    type="button"
                    class="text-[18px] font-semibold bg-black text-white px-6 h-[54px] rounded-[8px] tracking-normal cursor-pointer"
                    >Build manually</button
                >
                <button
                    type="button"
                    class="text-[18px] font-semibold bg-white w-[154px] h-[54px] rounded-[8px] tracking-normal cursor-pointer"
                    >Join waitlist</button
                >
            </div>
        </div>
        <div
            class="bg-white w-[1120px] h-[603px] mt-8 rounded-[24px] border-light-gray border-1"
        >
        </div>
    </div>
</div>
