---
import Discord from "../../public/icons/discord.svg";
import Github from "../../public/icons/github.svg";
import Telegram from "../../public/icons/telegram.svg";
import X from "../../public/icons/x.svg";

const currentRoute = Astro.url.pathname;
---

<div class="w-full justify-between hidden lg:flex">
    <div>
        <div class="flex flex-row gap-12 uppercase font-[500]">
            <a
                class="p-2 px-4 group text-transparent bg-clip-text transition-all duration-1000 bg-gradient-to-l from-[#0A0A0A] to-[#FF7826] hover:bg-[0%_0%] bg-[100%_0%] bg-[length:200%] from-50% to-50%"
                href="https://docs.cytonic.com"
                target="_blank"
            >
                Docs
                <div
                    class="bg-[#FF7826] h-px w-0 group-hover:w-full transition-all duration-1000"
                >
                </div>
            </a>
            <a
                class="p-2 px-4 group text-transparent bg-clip-text transition-all duration-1000 bg-gradient-to-l from-[#0A0A0A] to-[#FF7826] hover:bg-[0%_0%] bg-[100%_0%] bg-[length:200%] from-50% to-50%"
                href="/#"
            >
                airdrop info
                <div
                    class="bg-[#FF7826] h-px w-0 group-hover:w-full transition-all duration-1000"
                >
                </div>
            </a>
            <a
                class="p-2 px-4 group text-transparent bg-clip-text transition-all duration-1000 bg-gradient-to-l from-[#0A0A0A] to-[#FF7826] hover:bg-[0%_0%] bg-[100%_0%] bg-[length:200%] from-50% to-50%"
                href="/testnet"
            >
                testnet
                <div
                    class="bg-[#FF7826] h-px w-0 group-hover:w-full transition-all duration-1000"
                >
                </div>
            </a>
        </div>
        <div class="uppercase font-[500] flex gap-10 mt-2">
            <span> © 2025 ALL RIGHTS RESERVED BY Cytonic </span>

            <div class="flex gap-2">
                <span> Do you have any questions?</span>
                <span> info@cytonic.com</span>
            </div>
        </div>
    </div>

    <div class="flex gap-1">
        <div
            onclick="window.open('https://github.com/cytonic-network', '_blank')"
            class=`flex flex-row items-center justify-center group cursor-pointer transition-all duration-500 hover:bg-[#FF7826] rounded-full size-12 ${currentRoute==='/'?'bg-white':'bg-[#EDEDED]'} `
        >
            <Github
                class="transition-all group-hover:fill-white fill-[#0A0A0A]"
            />
        </div>
        <div
            onclick="window.open('https://discord.com/invite/cytonic', '_blank')"
            class=`flex flex-row items-center justify-center group cursor-pointer transition-all duration-500 hover:bg-[#FF7826] rounded-full size-12 ${currentRoute==='/'?'bg-white':'bg-[#EDEDED]'} `
        >
            <Discord
                class="transition-all group-hover:fill-white fill-[#0A0A0A]"
            />
        </div>
        <div
            onclick="window.open('https://t.me/cytonic_official', '_blank')"
            class=`flex flex-row items-center justify-center group cursor-pointer transition-all duration-500 hover:bg-[#FF7826] rounded-full size-12 ${currentRoute==='/'?'bg-white':'bg-[#EDEDED]'} `
        >
            <Telegram
                class="transition-all group-hover:fill-white fill-[#0A0A0A]"
            />
        </div>
        <div
            onclick="window.open('https://x.com/cytonic_com', '_blank')"
            class=`flex flex-row items-center justify-center group cursor-pointer transition-all duration-500 hover:bg-[#FF7826] rounded-full size-12 ${currentRoute==='/'?'bg-white':'bg-[#EDEDED]'} `
        >
            <X class="transition-all group-hover:fill-white fill-[#0A0A0A]" />
        </div>
    </div>
</div>

<div class="w-full justify-between flex flex-col lg:hidden max-w-[768px]">
    <div class="flex gap-1">
        <div
            onclick="window.open('https://github.com/cytonic-network', '_blank')"
            class=`flex flex-row items-center justify-center group cursor-pointer transition-all duration-500 hover:bg-[#FF7826] rounded-full size-12 ${currentRoute==='/'?'bg-white':'bg-[#EDEDED]'} `
        >
            <Github
                class="transition-all group-hover:fill-white fill-[#0A0A0A]"
            />
        </div>
        <div
            onclick="window.open('https://discord.gg/cytonic', '_blank')"
            class=`flex flex-row items-center justify-center group cursor-pointer transition-all duration-500 hover:bg-[#FF7826] rounded-full size-12 ${currentRoute==='/'?'bg-white':'bg-[#EDEDED]'} `
        >
            <Discord
                class="transition-all group-hover:fill-white fill-[#0A0A0A]"
            />
        </div>
        <div
            onclick="window.open('https://t.me/cytonic_official', '_blank')"
            class=`flex flex-row items-center justify-center group cursor-pointer transition-all duration-500 hover:bg-[#FF7826] rounded-full size-12 ${currentRoute==='/'?'bg-white':'bg-[#EDEDED]'} `
        >
            <Telegram
                class="transition-all group-hover:fill-white fill-[#0A0A0A]"
            />
        </div>
        <div
            onclick="window.open('https://x.com/cytonic_com', '_blank')"
            class=`flex flex-row items-center justify-center group cursor-pointer transition-all duration-500 hover:bg-[#FF7826] rounded-full size-12 ${currentRoute==='/'?'bg-white':'bg-[#EDEDED]'} `
        >
            <X class="transition-all group-hover:fill-white fill-[#0A0A0A]" />
        </div>
    </div>

    <div>
        <div class="uppercase text-[12px] font-[500] flex flex-col gap-2 mt-2">
            <span> © 2025 ALL RIGHTS RESERVED BY Cytonic </span>
            <span> Do you have any questions?</span>
            <span> info@cytonic.com</span>
        </div>
    </div>
</div>
