---
import Logo from "../../public/icons/text-logo.svg";
---

<header
    class="bg-main-gray h-[86px] flex px-10 items-center justify-between sticky top-0 z-50"
>
    <Logo class="transition-all group-hover:fill-white fill-[#0A0A0A]" />

    <div class="flex gap-[30px] text-white text-[14px]">
        <a class="uppercase cursor-pointer">community</a>
        <a class="uppercase cursor-pointer">ecosystem</a>
        <a class="uppercase cursor-pointer">docs</a>
        <a class="uppercase cursor-pointer">socials</a>
        <a class="uppercase cursor-pointer">research</a>
        <a class="uppercase cursor-pointer">news</a>
    </div>

    <button
        type="button"
        class="text-[18px] font-semibold bg-white w-[154px] h-[54px] rounded-[8px] tracking-normal cursor-pointer"
        >Join waitlist</button
    >
</header>
