---
import { Image } from "astro:assets";
import Bubble from "@assets/bubble.png";

import Menu from "@assets/icons/menu.svg";
import Logo from "@assets/icons/text-logo.svg";
---

<header
    class="bg-main-gray lg:h-[86px] py-4 flex lg:px-10 px-6 items-center justify-between sticky top-0 z-[60]"
>
    <Logo
        class="transition-all group-hover:fill-white fill-[#0A0A0A] relative z-[60]"
    />

    <div class="hidden lg:flex gap-[30px] text-white text-[14px]">
        <a
            class="uppercase cursor-pointer"
            href="https://discord.com/invite/cytonic">community</a
        >
        <a
            class="uppercase cursor-pointer"
            href="https://www.cytonicmatrix.com/">ecosystem</a
        >
        <a class="uppercase cursor-pointer" href="https://docs.cytonic.com/"
            >docs</a
        >
    </div>

    <div class="flex items-center gap-4 relative z-[60]">
        <button
            type="button"
            onclick="window.location.href='https://form.typeform.com/to/Mmh00bLK'"
            class="hover:border-1 hover:border-white transition-all hidden md:block text-[18px] font-semibold bg-[#FF7826] text-white w-[154px] h-[54px] rounded-[8px] tracking-normal cursor-pointer"
            >Join AI waitlist</button
        >

        <button id="menuToggle" class="lg:hidden text-white">
            <Menu id="menuIcon" class="transition-transform duration-200" />
        </button>
    </div>

    <div
        id="mobileMenu"
        class="fixed inset-0 bg-main-gray z-50 pt-[86px] md:px-10 lg:hidden hidden"
    >
        <div class="flex flex-col h-full w-full relative">
            <div
                class="absolute flex items-center justify-center z-40 inset-0 pointer-events-none top-10 md:top-50"
            >
                <Image
                    src={Bubble}
                    alt="Bubble background"
                    class="opacity-20 scale-50 md:scale-60"
                />
            </div>

            <div
                class="flex flex-col h-full md:justify-center md:items-center relative z-50"
            >
                <div
                    class="gap-8 md:gap-12 flex flex-col text-white text-[24px] items-center my-auto"
                >
                    <a
                        class="uppercase cursor-pointer"
                        href="https://discord.com/invite/cytonic">community</a
                    >
                    <a
                        class="uppercase cursor-pointer"
                        href="https://www.cytonicmatrix.com/">ecosystem</a
                    >
                    <a
                        class="uppercase cursor-pointer"
                        href="https://docs.cytonic.com/">docs</a
                    >
                </div>

                <div class="w-full px-4 pb-6">
                    <div class="gap-2 lg:gap-4 flex">
                        <button
                            type="button"
                            onclick="window.location.href='https://docs.cytonic.com'"
                            class="w-full whitespace-nowrap text-[16px] md:text-[18px] font-semibold bg-white text-black px-6 h-[54px] rounded-[8px] tracking-normal cursor-pointer"
                            >Build manually</button
                        >
                        <button
                            type="button"
                            onclick="window.location.href='https://form.typeform.com/to/Mmh00bLK'"
                            class="hover:border-1 hover:border-white transition-all w-full whitespace-nowrap text-[16px] md:text-[18px] font-semibold bg-[#FF7826] text-white px-6 h-[54px] rounded-[8px] tracking-normal cursor-pointer"
                            >Join AI waitlist</button
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    const menuToggle = document.getElementById("menuToggle");
    const mobileMenu = document.getElementById("mobileMenu");
    const menuIcon = document.getElementById("menuIcon");
    const body = document.body;

    menuToggle.addEventListener("click", function () {
        const isOpen = mobileMenu.classList.toggle("hidden");
        menuIcon.style.transform = isOpen ? "rotate(0deg)" : "rotate(90deg)";
        body.style.overflow = isOpen ? "" : "hidden";
    });
</script>
