---
import { Image } from "astro:assets";
import Bubble from "@/assets/bubble.png";

import Discord from "@/assets/socials/discord.svg";
import Github from "@/assets/socials/github.svg";
import Telegram from "@/assets/socials/telegram.svg";
import X from "@/assets/socials/x.svg";
---

<footer
    class="bg-[#212121] flex justify-center items-center px-[14px] lg:px-8 pb-[14px] pt-[176px] md:pt-[88px] lg:pt-[71px] relative mt-[166px] w-full mx-auto"
>
    <div class="max-w-[1200px]">
        <Image
            src={Bubble}
            alt="Bubble"
            class="w-[332px] lg:w-[406px] h-[332px] lg:h-[410px] absolute left-1/2 right-1/2 -translate-x-1/2 -translate-y-1/2 top-0 lg:top-20 md:-translate-x-[95%] md:left-[95%]"
        />
        <div class="w-full md:w-1/2">
            <span
                class="font-work text-[32px] lg:text-[46px] lg:text-nowrap -tracking-[0.64px] leading-[110%] font-medium text-white uppercase"
                >Ready to Build the Future?</span
            >
            <span
                class="font-work text-[24px] -tracking-[0.48px] leading-[110%] font-normal text-white mt-4 block"
                >Join the Cytonic ecosystem and start building the next
                generation of blockchain applications</span
            >
        </div>
        <div class="mt-10 lg:mt-[46px] flex flex-row gap-2">
            <button
                class="bg-white border border-transparent hover:border-black duration-300 transition-all cursor-pointer whitespace-nowrap text-black font-work text-[18px] font-[600] -tracking-[0.36px] leading-[120%] px-6 py-3 rounded-lg w-full lg:w-fit h-[54px]"
                onclick="window.location.href='https://www.cytonic.com/testnet'"
            >
                Build manually
            </button>
            <button
                class="bg-[#FF7826] text-white border border-transparent hover:border-white duration-300 transition-all cursor-pointer whitespace-nowrap font-work text-[18px] font-[600] -tracking-[0.36px] leading-[120%] px-6 py-3 rounded-lg w-full lg:w-fit h-[54px]"
                onclick="window.location.href='https://form.typeform.com/to/Mmh00bLK'"
            >
                Join AI waitlist
            </button>
        </div>

        <div
            class="mt-24 grid grid-cols-1 grid-rows-2 md:grid-cols-2 md:grid-rows-1 gap-4 items-center"
        >
            <div
                class="flex flex-row justify-between md:order-2 md:w-fit gap-2 md:ml-auto"
            >
                <Github
                    class="w-10 h-10 fill-white hover:fill-[#939393] rounded-full border border-transparent hover:border-black duration-200 transition-all cursor-pointer"
                    onclick="window.location.href='https://github.com/cytonic'"
                />
                <Discord
                    class="w-10 h-10 fill-white hover:fill-[#939393] rounded-full border border-transparent hover:border-black duration-200 transition-all cursor-pointer"
                    onclick="window.location.href='https://discord.gg/cytonic'"
                />
                <Telegram
                    class="w-10 h-10 fill-white hover:fill-[#939393] rounded-full border border-transparent hover:border-black duration-200 transition-all cursor-pointer"
                    onclick="window.location.href='https://t.me/cytonic_official'"
                />
                <X
                    class="w-10 h-10 fill-white hover:fill-[#939393] rounded-full border border-transparent hover:border-black duration-200 transition-all cursor-pointer"
                    onclick="window.location.href='https://x.com/cytonic_com'"
                />
            </div>
            <span
                class="font-work text-[#939393] text-[18px] -tracking-[0.36px] leading-[120%] font-medium md:order-1"
            >
                © 2025 Cytonic. All rights reserved</span
            >
        </div>
    </div>
</footer>
