---
import Zerodao from "@/assets/investors/zerodao.svg";
import Inception from "@/assets/investors/inception.svg";
import Iobccapital from "@/assets/investors/iobccapital.svg";
import Laserdigital from "@/assets/investors/laserdigital.svg";
import Lattice from "@/assets/investors/lattice.svg";
import Lemniscap from "@/assets/investors/lemniscap.svg";
import Lyrik from "@/assets/investors/lyrik.svg";
import Maelstrom from "@/assets/investors/maelstrom.svg";
import Publicworks from "@/assets/investors/publicworks.svg";
---

<section
    class="font-work grid grid-cols-[repeat(2,_1fr)] md:grid-cols-[repeat(5,_1fr)] grid-rows-[1fr_1fr_87.5px_87.5px_87.5px_87.5px_87.5px] md:grid-rows-[1fr_1fr_175px_175px] max-w-[1200px] mx-auto px-10 w-fit justify-items-center place-items-center"
>
    <span
        class="uppercase text-[46px] -tracking-[0.92px] font-medium text-[#343434] text-nowrap leading-[120%] col-span-2"
        >backed by</span
    >
    <span
        class="text-[24px] ml-20 -tracking-[0.48px] leading-[130%] font-medium text-[#B5B5B5] text-wrap col-span-2 md:col-span-4 lg:col-span-3 row-start-2 lg:row-start-1 text-left col-start-1 md:col-start-2 lg:col-start-3"
        >Supported by leading investors in blockchain and AI technology</span
    >
    <Lattice
        id="lattice"
        width={114}
        class="col-start-1 row-start-3 md:col-start-1 md:row-start-3"
    />
    <Lyrik
        id="lyrik"
        width={73}
        class="col-start-1 row-start-4 md:col-start-1 md:row-start-4"
    />

    <Lemniscap
        id="lemniscap"
        width={114}
        class="col-start-1 row-start-5 md:col-start-2 md:row-start-3"
    />
    <Maelstrom
        id="maelstrom"
        width={118}
        class="col-start-1 row-start-6 md:col-start-2 md:row-start-4"
    />

    <Laserdigital
        id="laserdigital"
        width={111}
        class="col-start-1 row-start-7 md:col-start-3 md:row-start-3"
    />
    <Zerodao
        id="zerodao"
        width={94}
        class="col-start-2 row-start-3 md:col-start-3 md:row-start-4"
    />

    <Iobccapital
        id="iobccapital"
        width={127}
        class="col-start-2 row-start-4 md:col-start-4 md:row-start-3"
    />
    <Inception
        id="inception"
        width={124}
        class="col-start-2 row-start-5 md:col-start-4 md:row-start-4"
    />

    <Publicworks
        id="publicworks"
        width={119}
        class="col-start-2 row-start-6 md:col-start-5 md:row-start-3"
    />
</section>
