---
import DownRightArrow from '@assets/icons/downRightArrow.svg';
---

<div
    class="relative px-[14px] md:px-10 flex justify-center mb-20 lg:mb-[200px]"
>
    <div class="lg:min-w-[1120px] flex flex-col">
        <div class="mb-[80px] md:mb-50">
            <div class="flex flex-col lg:flex-row justify-between gap-6">
                <div class="order-1 lg:order-2 pt-2">
                    <p class="font-medium text-[24px]">01</p>
                    <span class="text-[18px]">/ Vision for Cytonic</span>
                </div>

                <div
                    class="text-right md:text-left order-2 lg:order-1 uppercase text-[#343434] text-[32px] md:text-[46px] font-medium leading-[120%]"
                >
                    A new era where prompts <br class="hidden md:block" />create
                    fullstack crypto <br />projects
                </div>
            </div>
            <div
                class="w-[60%] pr-2 md:pr-0 md:w-[647px] ml-auto mt-6 text-[#939393] leading-[130%] text-[18px] md:text-[24px] tracking-[-2%]"
            >
                Autonomous agent swarms already design, audit, and deploy DeFi,
                GameFi, and cross-chain dApps straight to the Cytonic Network. A
                group of pioneers is testing the system in private beta,
                hardening security and refining the UX. Public access is coming
                soon—join the waitlist and help define the future of on-chain
                creation
            </div>
        </div>

        <div>
            <div class="md:text-right mb-6">
                <p class="font-medium text-[24px]">02</p>
                <span class="text-[18px]">/ Multi-VM Layer 1 Network</span>
            </div>
        </div>

        <div class="flex justify-between flex-col lg:flex-row gap-10 lg:gap-0">
            <div class="flex gap-6 order-2 lg:order-1">
                <div class="flex flex-col">
                    <div
                        class="relative font-medium border-1 border-[#E8E8E8] w-10 h-10 text-[24px] rounded-full flex items-center justify-center mb-[115px]"
                    >
                        1
                        <div
                            class="absolute top-full left-1/2 w-[1px] h-[116px] bg-[#E8E8E8] transform -translate-x-1/2"
                        >
                        </div>
                    </div>
                    <div
                        class="relative font-medium border-1 border-[#E8E8E8] w-10 h-10 text-[24px] rounded-full flex items-center justify-center mb-[139px]"
                    >
                        2
                        <div
                            class="absolute top-full left-1/2 w-[1px] h-[140px] bg-[#E8E8E8] transform -translate-x-1/2"
                        >
                        </div>
                    </div>
                    <div
                        class="font-medium border-1 border-[#E8E8E8] w-10 h-10 text-[24px] rounded-full flex items-center justify-center"
                    >
                        3
                    </div>
                </div>

                <div class="pt-1 flex flex-col gap-10">
                    <div class="flex flex-col gap-4">
                        <h1
                            class="uppercase text-black font-medium text-[24px] leading-[130%]"
                        >
                            Layer 1 — Settlement Core
                        </h1>
                        <p class="text-[#939393] leading-[130%] text-[18px]">
                            A lean base chain that finalizes state,<br /> handles
                            staking, and anchors <br /> security for every rollup
                        </p>
                    </div>

                    <div class="flex flex-col gap-4">
                        <h1
                            class="uppercase text-black font-medium text-[24px] leading-[130%]"
                        >
                            Data-Availability Layer
                        </h1>
                        <p class="text-[#939393] leading-[130%] text-[18px]">
                            Scalable DA provided by our<br /> enterprise partners
                            keeps<br /> blockspace affordable while<br /> preserving
                            full verifiability
                        </p>
                    </div>

                    <div class="flex flex-col gap-4">
                        <h1
                            class="uppercase text-black font-medium text-[24px] leading-[130%]"
                        >
                            Execution Environments
                        </h1>
                        <p class="text-[#939393] leading-[130%] text-[18px]">
                            Plug-and-play execution, with the<br /> most popular
                            blockchain virtual<br /> machines
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="text-[18px] md:text-[24px] w-[80%] md:w-[552px] text-[#939393] leading-[130%] tracking-[-2%] order-1 lg:order-2"
            >
                Cytonic is a multi-virtual-machine (Multi-VM) blockchain built
                for hyper-scale. Its modular design separates settlement, data
                availability, and execution, so any developer can deploy a dApp
                in the VM they know best—without fragmenting liquidity or user
                experience
            </div>
        </div>
        <div>
            <div class="md:ml-[110px] mt-6 flex gap-6">
                <div>
                    <div class="flex gap-4">
                        <DownRightArrow />
                        <p class="text-[18px] font-medium">EVM</p>
                    </div>
                    <div
                        class="font-medium text-[18px] text-[#939393] leading-[130%] ml-[31px]"
                    >
                        Ethereum- <br />compatible <br />smart contracts
                    </div>
                </div>
                <div>
                    <div class="flex gap-4">
                        <DownRightArrow />
                        <p class="text-[18px] font-medium">SVM</p>
                    </div>
                    <div
                        class="font-medium text-[18px] text-[#939393] leading-[130%] ml-[31px]"
                    >
                        Solana-style <br />high-throughput <br />programs
                    </div>
                </div>
            </div>
            <div class="md:ml-[110px] mt-6 flex gap-6">
                <div>
                    <div class="flex gap-4">
                        <DownRightArrow />
                        <p class="text-[18px] font-medium">MoveVM</p>
                    </div>
                    <div
                        class="font-medium text-[18px] text-[#939393] leading-[130%] ml-[31px]"
                    >
                        Safe, resource- <br />oriented Move <br />language
                    </div>
                </div>
                <div class="ml-[6px]">
                    <div class="flex gap-4">
                        <DownRightArrow />
                        <p class="text-[18px] font-medium">CosmWASM</p>
                    </div>
                    <div
                        class="font-medium text-[18px] text-[#939393] leading-[130%] ml-[31px]"
                    >
                        Cosm-native <br />WebAssembly <br />modules
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
